.statics {
    text-align: left;
    color: rgb(235, 226, 226);
    border: 2px solid rgb(23, 23, 26);
    background-color: rgb(23, 23, 26);
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0%;
}

.statics tr td{
    padding: 15px;
    width: 140px;
}

.statics tr th{
    padding: 15px;
    text-align: center;
}

.statics tr:nth-child(even){
    background-color: rgb(37, 35, 35);
}

.statics tr td:hover{
    background-color: rgb(65, 62, 62);
    cursor: pointer;
}

.statics tr th:hover{
    background-color: rgb(65, 62, 62);
    cursor: pointer;
}
